html, body
{
    height: 100%;
    margin: 0; padding: 0;
}

.hidden
{
    display: none;
}

#main
{
    padding: 0; margin: 0;
    height: 100%; width: 100%;
}
#left
{
    position: absolute;
    top: 0;
    background-color: aliceblue;
    top: 100px; bottom: 0; width: 70%;
}
#mapContainer
{
    overflow: auto;
    width: 100%; height: 70%;
}
#remote
{
    height: 30%; width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}
#stats
{
    position: absolute; right: 0;
    background-color: beige;
    top: 100px; bottom: 0; 
    width: 30%;
}
#remoteSvg {
    height: 100%;
}

.arrowGroup circle
{
    fill: transparent;
}
.arrowGroup:hover circle
{
    fill: #c6fafa20;
}
.arrowGroup:active circle
{
    fill: #c6fafa;
}
.header-icon {
    vertical-align: middle;
    margin: 0 0.5em;
    height: 100%;
}

.header-nav {
    box-sizing: border-box;
    text-align: right;
    height: 100px;
    padding: 1em;
    
    display: none;
}

header {
    font-size: 25px;
    background-color: #cec7b9;
}

.rotate
{
    animation: rotation 3s infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.squeeze
{
    animation: squeeze 4s infinite;
    animation-timing-function: linear;
}
@keyframes squeeze {
    0% {
        transform: rotate(0deg);
    }
    1% {
        transform: rotate(-10deg);
    }
    3% {
        transform: rotate(10deg);
    }
    5% {
        transform: rotate(-10deg);
    }
    7% {
        transform: rotate(10deg);
    }
    8% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}